html {
    overflow: hidden;
}

body {
    background: url("../images/bg_dark.png") repeat;
    margin: 0;
}

p, label, i {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.clear {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

div#game {
    margin: auto;
    text-align: center;
}

#profile-creation-dialog {
    z-index: 6;
}

#permission-dialog {
    z-index: 7;
}

#camera-dialog {
    z-index: 8;
}

.left-sidebar, .right-sidebar {
    float: left;
    width: 45%;
}

.right-sidebar {
    float: right;
}

.display {
    display: block !important;
}

.hide {
    display: none;
}

